.container {
  width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-1-7 {
  width: calc(100% / 7);
}

.flex-col {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.days-box {
  width: 100px;
  height: 100px;
  background-color: lime;
  border: solid 1px red;
}

.table-style {
  width: 90%;
  border: 1px solid black;
}

table,
th,
td {
  border: 1px solid black;
}

tr:not(:first-child) {
  text-align: center;
  background: grey;
}
