body {
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.invisible {
  visibility: hidden;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-1-7 {
  width: calc(100% / 7);
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.margin-0 {
  margin: 0;
}

.padding-tb-1r {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.modal-screen {
  min-height: 100vh;
  background: rgb(0 0 0 / 70%);
  position: fixed;
  width: 100%;
}

.modal-box {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  width: 700px;
  height: 300px;
  padding: 20px 50px 10px;
}

.days-box {
  width: 100px;
  height: 100px;
  background-color: lime;
  border: solid 1px red;
}

.table-style {
  width: 90%;
  border: 1px solid black;
}

table,
th,
td {
  border: none;
  text-align: center;
}

thead tr {
  background: lightcyan;
}

tbody tr:nth-child(odd) {
  background: grey;
}

.button {
  background-color: blue;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
}

.button:hover {
  filter: brightness(1.5);
}

select {
  margin-right: 20px;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  resize: none;
  margin-bottom: 10px;
}
