body {
  margin: 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.invisible {
  visibility: hidden;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-1-7 {
  width: calc(100% / 7);
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.text-center {
  text-align: center;
}

.modal-screen {
  min-height: 100vh;
  background: rgb(0 0 0 / 70%);
  position: fixed;
  width: 100%;
}

.modal-box {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  width: 700px;
  height: 300px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.days-box {
  width: 100px;
  height: 100px;
  background-color: lime;
  border: solid 1px red;
}

.table-style {
  width: 90%;
  border: 1px solid black;
}

table,
th,
td {
  border: none;
  text-align: center;
}

thead tr {
  background: lightcyan;
}

tbody tr:nth-child(odd) {
  background: grey;
}

.button {
  background-color: blue;
  border-radius: 5px;
  color: white;
  padding: 0.5rem;
}

.button:hover {
  filter: brightness(1.5);
}
